*,:after,:before,html {
  box-sizing: border-box
}

a {
  text-decoration: none;
  font-weight: 500;
}

/* For the navigation bar */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background: #fff;
}

@media (min-width: 620px){
  .nav .nav-container {
      /* height: 160px; */
      padding: 0 2rem;
  }
}

.nav .nav-container {
    padding: 0 1.5rem;
    height: 55px;
    max-width: 800px;
    margin: auto;
    justify-content: space-between;
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
}

.nav .cta, .nav .nav-container {
    display: flex;
    align-items: center;
}

@media (min-width: 620px){
  .nav .links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: 100%;
  }
}

@media (min-width: 620px){
  .nav .brand a {
      font-size: 1.3rem;
  }
}

.nav .brand a {
    display: flex;
    align-items: center;
    color: #333;
    margin-right: 0;
    font-weight: 500;
    font-size: 1.15rem;
}

.nav .links, .nav .links a {
    display: flex;
    align-items: center;
}
.nav .links {
    flex-direction: row;
    justify-content: center;
    flex: 1 1;
    margin: 0;
}

@media (min-width: 620px){
  .nav .links a {
      font-size: 1.2rem;
      margin: 0 .5rem;
      padding: 1rem;
      border-bottom: 2px solid transparent;
  }
}

.nav .links a {
    font-size: 1.05rem;
    font-weight: 400;
    padding: .75rem;
    margin: 0 .25rem;
    color: rgba(0,0,0,.6);
    line-height: 1.2;
    text-align: center;
    border-radius: 6px;
}

.nav .links a.active, .nav .links a:active, .nav .links a:hover {
  color: #111;
  background: rgba(0,0,0,.05);
}

/* For the main contents */
#main-content {
  margin-top: 55px;
  padding: 40px 0 0;
  min-height: calc(100vh - 190px);
}

@media (min-width: 620px) {
  #main-content {
    margin-top: 140px;
    padding: 60px 0 0;
    min-height: calc(100vh - 360px);
  }
}

